<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati tempora possimus necessitatibus? Illo adipisci rem dolore nihil ex sunt voluptates veniam omnis dolor repellat asperiores odio voluptatem, voluptate tenetur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati tempora possimus necessitatibus? Illo adipisci rem dolore nihil ex sunt voluptates veniam omnis dolor repellat asperiores odio voluptatem, voluptate tenetur.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati tempora possimus necessitatibus? Illo adipisci rem dolore nihil ex sunt voluptates veniam omnis dolor repellat asperiores odio voluptatem, voluptate tenetur.</p>
        </ul>
    </div>
</div>>